:root {
  /* interactive elements */
  --input-bg: #F0F5FB;

  /* borders */
  --border-radius-xs: 8px;
  --border-radius-sm: 12px;
  --border-radius-md: 16px;

  /* typography */
  --font-family-base: Montserrat;
  --font-weight-light: 400;
  --font-weight-base: 500;

  --font-size-sm: 13px;
  --font-size-md: 18px;
  --font-size-lg: 24px;

  --line-height-sm: 18.2px;
  --line-height-lg: 33.6px;

  /* Colors */
  --white: #FFFFFF;
  --dark-blue-1: #314363;
  --grey-02: #EFF5FC;
  --grey-03: #7E98BA;
  --grey-04: #556E9A;
  --body-text-primary: #DAE2EF;
  --body-text-secondary: #6F8BBC;
}

body {
  /* generic font styles */
  font-style: normal;
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-sm);
  letter-spacing: 0.01em;
}

* {
  box-sizing: border-box;
}
